.c-zoom-button {
    width: 51px;
    height: 51px;
    background: rgba(202, 202, 202, 0.1);
    border: 0.910714px solid rgba(255, 255, 255, 0.15);
    border-radius: 60.1071px;
    background-image: url("../images/zoom-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    outline: none;
}