@mixin head-foot-container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

@mixin account-icons {
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 66px;
}

@mixin account-icons-main {
    background-color: rgba(232, 232, 232, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

@mixin account-icons-page {
    background-color: $lighest-gray;
    border: none;
}

@mixin header-text-styles {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

@mixin button-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}