$white-color: #ffffff;
$dark-blue: #313958;
$water-color: #48AAFF;
$sky-color: #2091F9;
$air-color: #8EC2F2;
$almost-black: #252B42;
$medium-gray: #737373;
$dark-gray: #858585;
$silver-gray: #C4C4C4;
$light-gray: #BDBDBD;
$pages-bg: #F9F9F9;
$checkbox-radio-color: #DCDCDC;
$price-range-color: #E6E6E6;
$lighest-gray: #E8E8E8;
$extra-light-gray: #E4E4E4;
$foggy: #F9F9F9;
$grass-color: #2DC071;
$orange-color:#E77C40;
$gold: #DAB700;
$cream-color: #FFF8F8;
$mobile: 1400;